# dependencies
node_modules/

# next.js
.next/
out/

# env files (credenciales — nunca subir a GitHub)
.env.local
.env*.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts